@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-overflow-scrolling: touch;
	min-height: 100vh;
}

@media (hover: none) {
	*:focus,
	*:focus-visible {
		outline: none !important;
	}

	* {
		box-sizing: border-box;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}

	input,
	input::after,
	input::before {
		-webkit-touch-callout: initial;
		-webkit-user-select: initial;
		-khtml-user-select: initial;
		-moz-user-select: initial;
		-ms-user-select: initial;
		user-select: initial;
	}

	*::-webkit-scrollbar {
		display: none;
	}

	* {
		scrollbar-width: none;
	}
}

body::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: env(safe-area-inset-top);
	background: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
	z-index: 9999;
}

:root {
	color-scheme: light dark;
}

/* Add grainy effect to some elements */
.grainy {
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' opacity='0.10' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
	background-repeat: repeat;
	background-size: 64px 64px;
}

.card,
.btn:not(.btn-outline, .btn-ghost, .glass),
.input {
	@apply grainy;
}

.btn-animation {
	cursor: pointer;
	animation: button-pop var(--animation-btn, 0.25s) ease-out;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke,
		opacity, box-shadow, transform, filter, backdrop-filter, -webkit-text-decoration-color,
		-webkit-backdrop-filter;
	transition-duration: 0.2s;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	user-select: none;
}

.btn-animation:hover,
.btn-animation:focus {
	opacity: var(--btn-hover-opacity, 0.8);
}

.btn-animation:active:hover,
.btn-animation:active:focus {
	animation: none;
	transform: scale(var(--btn-focus-scale, 0.95));
}

.divider {
	margin: 0;
}

.material-symbols-rounded {
	font-variation-settings: "opsz" 48, "wght" 700, "FILL" 0, "GRAD" 200;
}

.svelte-progress-bar {
	height: calc(env(safe-area-inset-top) + 2px)!important;
}

.svelte-progress-bar-hiding {
	transition: top 0.8s ease;
	top: calc(-1 * env(safe-area-inset-top) - 2px)!important;
}

.svelte-progress-bar-leader {
	height: calc(env(safe-area-inset-top) + 3px)!important;
}
